# Prevent PHP execution inside uploads folder
php_flag engine off
Options -Indexes

<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|aspx|cgi|sh)$">
    Order allow,deny
    Deny from all
</FilesMatch>
